# ignore py cache
*__pychache___
Pipeline_example/*__pycache__
**.pyc

# vscode
*.vscode

# jupyter checkpoints
*.ipynb_checkpoints

# all images remain on local machine 
**.tif

# ingore intermediate
**.npy

# ignore log files
**.log

# ingnore runinfo in the 3.processing_features module
3.processing_features/notebooks/runinfo/000

